[2022-01-05 13:00] Baroshem opened #1 "Support for Vue-Instantsearch"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

https://github.com/algolia/vue-instantsearch/pull/1052

### Describe alternatives you've considered

### Additional context

[2022-01-06 14:00] Baroshem opened #2 "Add info about importing composables"
### Is your feature request related to a problem? Please describe.

By Alex Jover Morales:

I'd include as well how to import the composables, for those not using script setup

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-01-10 10:01] Baroshem commented on #2
I wasn't able to import these composables separately importing them one by one. I will try however to add and index.ts file that would export all these composables to that it will be possible to import them manually or by adding them to composables/index.ts in nuxt project

[2022-01-10 10:02] Baroshem commented on #1
Tried yesterday to use vue 3 components from vue-instantsearch but was not able to make them work. Asked vue-instantsearch creators to investigate further.

[2022-01-10 10:02] Baroshem opened #3 "implement useSearchForFacetValues"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

https://www.algolia.com/doc/api-reference/api-methods/search-for-facet-values/

### Describe alternatives you've considered

### Additional context

[2022-01-10 12:34] Baroshem opened #4 "user privateRuntimeConfig for envs"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-01-11 07:28] Baroshem opened #5 "create useSearchMultipleIndices composable"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-01-11 07:38] Baroshem opened #6 "create useIndexing composable with CRUD methods"
### Is your feature request related to a problem? Please describe.

Also remember, to add a new API key with appriopriate rights

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-01-11 11:08] Baroshem commented on #4
Cannot use private config as it is not accesible in the plugin. Have to find another way to achieve this

[2022-01-11 15:04] Baroshem opened #7 "extract plugin functionality to Vue plugin"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

To gain more users, Chuck Meyer inspired me to refactor the Nuxt module into a wrapper over Vue module so that it could be used in more projects than just the Nuxt ones

### Describe alternatives you've considered

### Additional context

[2022-01-13 09:39] #3 closed

[2022-01-13 09:40] Baroshem commented on #1
https://github.com/algolia/vue-instantsearch/issues/1098
https://github.com/Haroenv/nuxt3-vue-instantsearch-demo/blob/main/app.vue

[2022-01-13 09:40] #2 closed

[2022-01-13 10:28] Baroshem commented on #1
https://www.algolia.com/doc/guides/building-search-ui/going-further/server-side-rendering/vue/#with-nuxt

[2022-01-20 08:24] Baroshem commented on #6
This can be achieved by disabling lite version and using algoliasearch reference

[2022-01-20 08:24] #6 closed

[2022-01-20 08:25] Baroshem commented on #5
Can be acieved as a part of disabling lite version and using algoliasearch reference

[2022-01-20 08:25] #5 closed

[2022-01-21 09:26] Baroshem commented on #1
Support for that is planned by the vue-instantsearch team at early february. Right after releasing new version of vue-instantsearch as ES module, I will release a support in @nuxt-mocules/algolia module to be able to use these components easily.

[2022-01-21 09:26] #4 closed

[2022-01-25 19:43] yassilah opened #8 "Algolia Crawler using Nuxt"
### Is your feature request related to a problem? Please describe.
No.

### Describe the solution you'd like
The idea would be to add the ability to store pages' metadata into an Algolia index during Nuxt generation process. This would then allow for instant search through all generated pages content.

### Describe alternatives you've considered
The existing [Algolia Crawler](https://www.algolia.c

[2022-01-26 14:46] Baroshem commented on #8
As soon as the guys from vue-instantsearch merge my recommendations to the code, we may be able to use vue 3 search components as a part of this module.

This is really an amazing piece of work! After some small additions I will gladly merge it and release with the new version :)

[2022-01-28 10:57] Baroshem commented on #8
Closed with #9

[2022-01-28 10:57] #8 closed

[2022-01-28 14:46] Baroshem opened #11 "Refactor module to the official Nuxt 3 structure"
### Is your feature request related to a problem? Please describe.

https://v3.nuxtjs.org/docs/advanced/modules

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-02-10 11:47] renovate[bot] opened #19 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update all non-major dependencies](../pull/100) (`@algolia/recommend`, `@docsearch/css`, `@docsearch/

[2022-02-10 13:16] #1 closed

[2022-02-10 13:16] #11 closed

[2022-02-10 13:30] Baroshem opened #21 "Documentation issues"
### What is actually happening?

* [Coming soon] for VueInstantsearch -> coming soon should be removed as there is already a support for that both README.md and docs
* Update vue-instantsearch usage docs to have // path/to/file in the code examples and also we should add better guide on how to use it. More descriptive.

[2022-02-15 10:01] Baroshem opened #25 "Algoliasearch type from lite version by default"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

Currently, algoliasearch type is taken from lite version. This is wrong because when a user chooses lite:false in the config, he will have access to more methods and properties, but they will not be autosuggested by TS. In order to have that, we should add the type accordingly to the value of

[2022-02-15 10:03] Baroshem opened #26 "add section in advanced about automatic indexing using Storyblok"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

I have recently created a Nuxt 3 project with Algolia, Storyblok and automatic indexer using serverless that would be worth mentioning in the docs -> https://github.com/Baroshem/nuxt3-algolia-storyblok. We could provide step by step flow of using it with Storyblok to automaically index Algolia

[2022-02-15 13:03] Atinux commented on #21
Would be nice to also document the usage of the `publicRuntimeConfig` with the `.env` 😄

[2022-02-15 13:26] Baroshem commented on #21
Sure @Atinux let's add this as well! ❤️

[2022-02-27 23:51] andyjamesn opened #31 "Query with attributes"
Reading the documentation it shows a search can be done as follows:

`await search({ query: 'Samsung' });`

This is working as expected but I am having some trouble trying to get the intended format for passing parameters with the query. As per the Algolia documentation this is the format

[code]

Looking at the useSearch composable

https://github.com/nuxt-community/algolia-module/blob/main/src/r

[2022-02-28 08:46] Baroshem commented on #31
Hey hey,

So basiaclly, requestOptions in useSearch composable accept both searchParams (query params) and the requestOptions.

So you can do something like this:

[code]

The naming might not be perfect as algoliasearch also uses one object for options (also named requestOptions). For some reason, in the documentation it is described as two separate parameters but if you take a look at the algoli

[2022-02-28 12:55] andyjamesn commented on #31
Thanks for the clarification and yes I understand the complexity of naming here. This works perfectly!

I have tested it with filters too.

eg

[code]

[2022-02-28 13:07] Baroshem commented on #31
Wonderful,

I will close the question then. It can be reopened if needed and in case of other questions, feel free to post them here :)

[2022-02-28 13:07] #31 closed

[2022-03-09 13:18] #21 closed

[2022-03-09 13:18] #26 closed

[2022-03-15 15:43] Baroshem opened #35 "show the usage with Contentful"
### Is your feature request related to a problem? Please describe.

We currently have an article link in Algolia docs about using it with Nuxt 3 and Storyblok. As an another example we could show how to use Algolia with Contentful using the following integration

https://www.algolia.com/developers/contentful-search-algolia/

### Describe the solution you'd like

### Describe alternatives you've co

[2022-03-22 12:20] Baroshem opened #38 "add Stackblitz demo"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-03-30 07:57] #38 closed

[2022-03-31 16:29] Tahul opened #41 "DocSearch feature"
### Is your feature request related to a problem? Please describe.

Hey 😄

I'm working on using Algolia DocSearch on Nuxt 3 new documentation website.

I've been trying to implement the feature using your module, but it seem like this feature from Algolia is not supported.

Here is the Pull Request I'm working on: https://github.com/nuxt/nuxt3-docs/pull/15

### Describe the solution you'd like

I'

[2022-03-31 18:47] Baroshem commented on #41
Hey!

Thanks for creating this issue (and a WIP pull request)!

I will happily review it tomorrow. It seems like a really useful feature that many project could benefit from. I will be glad to help you with that and give you some hints/help developing.

[2022-04-27 07:12] Baroshem opened #47 "Rename composables to use `Algolia`"
### Is your feature request related to a problem? Please describe.

https://github.com/nuxt-community/algolia-module/discussions/40

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-04-27 09:51] #41 closed

[2022-05-06 09:34] Baroshem opened #49 "vue instantsearch does not work with the rc version"
This is really strange because it works perfect on playground but when we tested it with Tim it was not working

[2022-05-14 14:31] andyjamesn commented on #49
I used the base demo Stackblitz and added instantSearch to test and it is not working

Here is the Stackblitz

https://stackblitz.com/edit/github-rt1jxz-wcpzz5

The main change is the app.vue is setup based on the docs to use instantsearch and I ran

`npm install vue-instantsearch algoliasearch instantsearch.css`

I am not 100% sure if all that is needed but looking at the package json of the play

[2022-05-14 16:22] Baroshem commented on #49
Hey, thanks for checking that out. I alse figured out the same results but did not write it down. This is strange however because previously (in earlier versions of the module) you were able to use the components without importing them. This is not a big issue as it can be sone manually but makes the DX a bit worse (but also better for performance because we are not auto importing everything)

[2022-05-14 17:33] andyjamesn opened #50 "Using any instantSearch theme other than algolia throws an error"
### Version

@nuxtjs/algolia: ^0.9.1
nuxt: 3.0.0-rc.3

### Steps to reproduce
[code]

### What is Expected?
As per the docs https://algolia.nuxtjs.org/advanced/
"You can choose a theme from satelite, reset, and algolia. Check out setup docs [here](https://algolia.nuxtjs.org/advanced/'/setup#instantSearch.theme')"

### What is actually happening?
 ERROR  [@nuxtjs/algolia] Invalid theme: reset
 ERRO

[2022-05-15 15:14] Baroshem commented on #50
Hi @andyjamesn

Thanks for reporting that issue. I will take a look at it tomorrow and probably release a new version with a quick fix as it should not be something complicated 🙂

[2022-05-17 11:52] Baroshem commented on #50
@andyjamesn

I did some testing and in my case the algolia and satellite (check if you typed double `t` in the name, there is a typo in the docs), however it does not work for some reason with 'reset'.

I mean, it is working because the styles are being reset but the error appears in the console for some reason. The error should appear if a selected theme is out of the scope of supported styling.

[2022-05-17 14:29] yassilah commented on #50
Hey! Yes, I see why, `enum` uses the index as value and vice-versa, so `InstantSearchThemes.reset` is `'0'` which becomes `false` in the if statement. I'll fix that in your PR.

[2022-05-18 16:58] #50 closed

[2022-05-18 17:26] Baroshem commented on #50
@andyjamesn

The module should now work as expected. Thanks for rising this issue and thanks @yassilah for resolving the issue :)

[2022-05-18 17:45] andyjamesn commented on #50
Excellent. Thanks guys! Time to add the reset theme so I can add my own styling with TailwindCSS :D

[2022-05-19 09:25] Baroshem commented on #49
Fixed with 0.9.2

[2022-05-19 09:25] #49 closed

[2022-05-19 09:37] Baroshem opened #53 "rewrite docs to the latest version of Docus"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-05-19 09:40] Baroshem opened #54 "support for automatic indexing"
### Is your feature request related to a problem? Please describe.

#36

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-06-17 07:54] bootsmann1995 opened #57 "Browser back / router.back clears query."
### Version

@nuxtjs/algolia: v0.9.2
nuxt: v3.0.0-rc.4

### Reproduction Link
https://stackblitz.com/edit/nuxt-starter-9hjp9u?file=pages/index/index.page.ts

### Steps to reproduce
filter twice -> go to page via ais-hits / nuxt-link (/about), use browser back.  And then try to click back again.

### What is Expected?
its expected it saves my query.

### What is actually happening?
its clearing que

[2022-06-17 12:10] Baroshem commented on #57
Hey @bootsmann1995

First of all, really nice website! I am glad that you are using Nuxt Algolia module.

Thanks for raising this issue. I will try to debug it on my side and see if I can fix it :)

[2022-06-17 15:06] dmitryT93 opened #59 "Unable to search in <setup>"
Have a problem displaying SSR data
if i use code from example
[code]
all work well, but data loaded after page load, but I would like to receive data before the page is fully loaded

if i try something like this
[code]

i catch **500** error,
text: **XMLHttpRequest is not defined**

Thanks for the answer

[2022-06-17 15:13] dmitryT93 commented on #59
Have a problem displaying SSR data
if i use
[code]
all work well, but data loaded after page load, but I would like to receive data before the page is fully loaded

if i try something like this
<script setup>
const { result, search } = useSearch('test_index') // pass your index name as param
await search({ query: 'Samsung' });
</script>
[code]

[2022-06-17 15:13] #59 closed

[2022-06-17 15:17] dmitryT93 opened #60 "Problem using search() outside of onMounted() hook"
Have a problem displaying SSR data
if i use code from example
[code]
all work well, but data loaded after page load, but I would like to receive data before the page is fully loaded

if i try something like this
[code]

i catch **500** error,
text: **XMLHttpRequest is not defined**

[code]

How could I solve this problem?
Thanks for the answer

[2022-06-20 07:20] Baroshem commented on #57
Hey @bootsmann1995

I did some debugging and I think that this kind of functionality (storing the result of the query) can be easily done by using the local/session storage and it should not be a part of the module.

I could put it as a part of the module but it wont be needed for all use cases. And considering how easy it can be to use storage to store the search result, I would recommend to go w

[2022-06-20 07:21] Baroshem commented on #60
Hey @dmitryT93

This module does not yet support the SSR execution, but we are already working on it. You can follow #46 to get more details.

I will try to work on it as well this week to make it ready for the new release :)

[2022-06-20 07:22] bootsmann1995 commented on #57
Hey Baroshem, thanks a lot! :)

Great, with the quick answer!. It could be nice to get an exsample on this solution.

[2022-06-20 07:42] bootsmann1995 commented on #57
@Baroshem  if you saw the reproduction. It is a combination of the vue-instantsearch and nuxt/algolia. and if it makes it easier you can provide the solution inside the reproduction.

[2022-06-20 08:39] Baroshem opened #61 "[Bug[ Vue-Instantsearch does not work for nuxt 3 project"
<img width="1632" alt="image" src="https://user-images.githubusercontent.com/37120330/174560938-5d35994b-3643-41c0-b883-aa86bc09fd1b.png">

It is caused by the usage of the plugin. There must be some inconsitencies in how the plugin works with vue 3, vite and nuxt. As we are importing the components separately recently, I think it would be safe to remove this line from `plugin.ts`:

[code]

Tested

[2022-06-23 06:12] Baroshem opened #63 "Add support for SSR"
### Is your feature request related to a problem? Please describe.

Work on #46

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-06-23 06:53] Baroshem commented on #53
Done with #56

[2022-06-23 06:53] #53 closed

[2022-06-23 07:37] #25 closed

[2022-06-23 07:38] Baroshem commented on #35
Will be closed with #64

[2022-06-23 07:41] Baroshem commented on #57
@bootsmann1995 AFAIK the issue has been resolved another way.

I will keep this issue open so that you can link to it with your explanation of the fix :)

[2022-06-23 09:57] #35 closed

[2022-06-23 09:57] #47 closed

[2022-06-23 10:31] #61 closed

[2022-06-23 11:18] Baroshem commented on #63
<img width="536" alt="image" src="https://user-images.githubusercontent.com/37120330/175286873-c0b1b677-027a-4b5d-998d-d756dedf6fe4.png">

[2022-06-23 11:19] Baroshem commented on #60
I will close this issue in favor of #63

[2022-06-23 11:19] #60 closed

[2022-06-23 11:19] Baroshem commented on #54
Released with #67

[2022-06-23 11:19] #54 closed

[2022-07-04 07:00] Baroshem opened #69 "Remove deprecated composables"
### Is your feature request related to a problem? Please describe.

* useSearch
* useSearchForFacetValues
* useAlgolia
* useInitIndex

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-07-07 05:59] jyotirmaybarman opened #70 "@nuxtjs/algolia: 1.0.0 Does not work with latest nuxt: 3.0.0-rc.4"
### Version

@nuxtjs/algolia: 1.0.0
nuxt: 3.0.0-rc.4

### Reproduction Link
https://stackblitz.com/edit/nuxt-starter-zh6pvp?file=package.json

### Steps to reproduce
Add api key & id
### What is Expected?
Expected to be working properly.
### What is actually happening?
Showing this error. It is working with `@nuxtjs/algolia:0.9.2` but the crawler is not indexing the content. (nuxt content v2)

![i

[2022-07-07 08:07] Baroshem commented on #70
Hey @jyotirmaybarman

Thanks for reporting this issue. I will take a look at it :)

[2022-07-07 08:18] Baroshem commented on #70
The issue was caused by the CMS indexer options failing to convert to object when not defined.

It is working on 1.0.1 version. Try it out as I released it few minutes age :)

[2022-07-07 08:18] #70 closed

[2022-07-07 08:20] #57 closed

[2022-07-09 11:56] jyotirmaybarman opened #71 "How should we use this plugin with nuxt 3 ?"
I am working with nuxt content V2, but not sure how to index my contents.

[2022-07-11 08:47] Baroshem commented on #71
Hey @jyotirmaybarman

Thanks for asking this question. The content crawler for released some time ago and it was meant to be working with Nuxt 2 so there is no support for nuxt content v2 yet.

However, it can be developed as another option for indexing Algolia content with another source, in this case, local content.

Could you please describe more how you would like to use it? I can think of an

[2022-07-11 09:57] jyotirmaybarman commented on #71
@Baroshem Thanks for the clarification.
Yes I was thinking about indexing local content. I have planned about creating a script for generating the objects for indexing & then index those with the help of algolia api.

[2022-07-11 11:22] Baroshem commented on #71
I see.

I think it would have been an useful feature for the module.

Could you prepare a Proof of Concept solution based on the https://github.com/nuxt-community/algolia-module/blob/main/src/runtime/server/api/storyblok.ts and https://algolia.nuxtjs.org/advanced/er that would solve your issue?

I dont mean the coding, more like: "I would setup a variable here, it would then trigger a middleware t

[2022-07-11 12:53] jyotirmaybarman commented on #71
@Baroshem Awesome

[2022-07-11 14:45] jyotirmaybarman commented on #71
@Baroshem Hi, This is my simple approach to the problem here : https://github.com/jyotirmaybarman/nuxt3-algolia-indexing-idea.
It works but I think there is a concept of hooks in nuxt which I've no idea about. I don't know if it will be useful to you or not but whatever maybe the case, here is my solution 😅😅

[2022-07-11 15:41] Baroshem commented on #71
Looks great @jyotirmaybarman

I will take a look at it tomorrow. You did a lot of work already! I know how to transform it into an addition to the module 😉

When developed and merged, I expect this feature to be released with 1.1.0 version that is planned for the next two weeks.

[2022-07-14 13:08] Baroshem opened #72 "add quick start vue page/component example to the docs"
### Is your feature request related to a problem? Please describe.

Something like:

[code]

https://algolia.nuxtjs.org/getting-started/quick-start

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-07-17 21:11] Baroshem opened #73 "add Global Index option in configration"
### Is your feature request related to a problem? Please describe.

Let's add an configuration option called globalIndex that when configured will be used in algoliasearch. By using it, user will not have to pass it as a part of the useAlgoliaSearch composable.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-07-21 12:25] Baroshem commented on #71
As this is quite a big feature, let's plan it for 1.2.0 version of the module :)

[2022-07-21 12:26] #69 closed

[2022-07-22 07:47] Baroshem commented on #73
Done in 1.1.0

[2022-07-22 07:47] #73 closed

[2022-07-22 07:47] Baroshem commented on #72
Done in 1.1.0

[2022-07-22 07:47] #72 closed

[2022-07-28 19:49] starladyrie opened #80 "Failed to run nuxt after installing algolia"
### Version

**@nuxtjs/algolia:** 1.1.0
**nuxt:**  "nuxt-edge": latest

### Reproduction Link
https://github.com/starladyrie/algolia-bug

### Steps to reproduce

1. Create a new project with Nuxt 2
2. Migrate to Nuxt Bridge
3. Install @nuxtjs/algolia, following documentation
4. Run project

### What is Expected?
Project should run normally

### What is actually happening?
Algolia is throwing the f

[2022-07-29 08:20] Baroshem commented on #80
Hey, it seems that you cannot have public runtime registered like this for nuxt-edge.

The module registers the configuration from nuxt.config.ts by using public runtime config. I will check how other modules achieve nuxt edge compatibility for such cases and will get back to you with an answer

[2022-07-29 19:13] starladyrie commented on #80
Got it, thank you so much!!

[2022-08-01 08:44] Baroshem commented on #80
@starladyrie I know what is the reason.

In nuxt-edge public runtime config is accessible in a different way:

`nuxt.options.publicRuntimeConfig` insteead of `nuxt.options.runtimeConfig.public` in Nuxt 3.

I will create a pull request with this change and release a 1.1.1 version with this fix for Nuxt 2 this week

[2022-08-01 14:03] starladyrie commented on #80
@Baroshem thank you so much, I'll be waiting for this new release then!!

[2022-08-03 08:32] Baroshem opened #81 "bump nuxt to the latest version"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-08-03 08:34] #80 closed

[2022-08-03 08:40] Baroshem commented on #80
Hey @starladyrie

I tested your reproduction repo with the new 1.1.1 version and it seems to be working correctly :)

<img width="1672" alt="image" src="https://user-images.githubusercontent.com/37120330/182564206-3359bdad-5779-4381-9d9d-f61ce22f34f3.png">

<img width="1199" alt="image" src="https://user-images.githubusercontent.com/37120330/182564310-493ad7ed-6e2d-4565-a48f-2dd427794779.png">

Th

[2022-08-03 19:12] starladyrie commented on #80
@Baroshem I tested in my project and it's no longer throwing that error! Thank you so much for your help 😄

[2022-08-05 09:01] Baroshem opened #83 "add AlgoliaSearchBar component"
### Is your feature request related to a problem? Please describe.

Similarly to what I have created for the nuxt-newsletter, I think it would be beneficial to have an unstyled but working search bar component that users can easily use in their application without using the vue instantsearch.

### Describe the solution you'd like

https://github.com/Baroshem/nuxt-shopify-tailwind/blob/294729ad6a0d

[2022-08-06 11:06] Lexpeartha opened #84 "Configuring via .env variables on Nuxt 3"
### Version

@nuxtjs/algolia: 1.1.1
nuxt: 3.0.0-rc.6

### Steps to reproduce

- Add Algolia to Nuxt 3 project
- Configure it via `env` variables

### What is happening?
[code]
  When starting a project error is thrown `Cannot destructure property 'applicationId' of '__vite_ssr_import_0__.useRuntimeConfig(...).algolia' as it is undefined.`

  Not sure if this has something to do with #81 or #63 but

[2022-08-06 15:30] Baroshem commented on #84
Hey @Lexpeartha

Could you try to rebuild your project or and remove node modules?

I am using env variables in module repo, demo projects, tutorials, and many more so this issue seems wuite strange

[2022-08-06 19:33] Lexpeartha commented on #84
I was running nuxt 3 edge version, but down-graded it to rc 6 and issue was still there
I did delete both node_modules and .nuxt, but it didn't do anything

[2022-08-07 14:00] Baroshem commented on #84
@Lexpeartha

Could you please create a reproduction repository in Stackblitz? I tried it once again and was not able to reproduce it.

[2022-08-07 16:38] Lexpeartha commented on #84
Well... I can't reproduce it now since it started working for my project as well 🤷🏽‍♂️
Idrk what that was, but it seems to work alright now, thanks

[2022-08-08 05:14] Baroshem commented on #84
I see.

Thank you for testing it out. I hope the module will work for you kow without any issues.

Happy coding! 😃

[2022-08-12 13:04] podlebar opened #85 "Fresh install fails"
### Version

@nuxtjs/algolia: 1.1.1
nuxt: 3.0.0-rc.6

### Reproduction Link

none

but with version 1.1.0 is seems to work

### Steps to reproduce
- install nuxt
- install this plugin as described here: https://algolia.nuxtjs.org/getting-started/quick-start

### What is Expected?
nuxt starts correctly

### What is actually happening?
nuxt does not start anymore and throws following error:
[code]

[2022-08-12 14:37] Baroshem commented on #85
Hey, @podlebar ,

Could you please create a reproduction repository or a project in stackblitz? This issue is really strange and I have not encountered it yet

[2022-08-15 06:53] podlebar commented on #85
everything works fine with nuxt: 3.0.0-rc.8

[2022-08-15 06:53] #85 closed

[2022-08-15 07:04] podlebar opened #86 "Add routing URLs"
### Is your feature request related to a problem? Please describe.
With Nuxt 2 there was a way to have routing URLs so you got for each facet clicked a change in the URL. That URL was shareable and it was a huge benefit in crosslinking a faceted search page thru the whole website.

### Describe the solution you'd like
It would be nice to have this option to create urls that you can share and will

[2022-08-16 05:55] Baroshem commented on #86
Hey @podlebar

Thanks for creating this feature proposition!

I am not sure however if it should be a responsibility of a module to have this functionality. From your description, this feature can be done on the Nuxt project side (not on the module side). The reason why I don't think it is a good idea to implement it on the module side is that there can be multiple approaches to how this routing c

[2022-08-16 16:27] fmarcheski commented on #84
I am seeing this issue on **1.1.1**.
When I roll back to **1.1.0**, it works fine.

Running Nuxt 3.0.0-rc.8

[2022-08-16 19:58] Lexpeartha commented on #84
@Baroshem Not sure what might be causing the problem to appear again, but it would be great if you could update `@nuxt/kit` dependency since nuxt 3 in newer releases migrated to vite 3, so that might have some impact?

[2022-08-17 11:35] podlebar commented on #86
i understand.. but than i ask myself why https://github.com/nuxt-community/algolia-module/issues/83 should be in this module as it's also possible to implement without this module :)

is there a rule of thumb what should be in this module and what not?

[2022-08-18 09:21] Baroshem commented on #86
Good question @podlebar , let me explain.

The idea behind this AlgoliaSearchBar component is to have a Vue component that just works. The user would only have to style it the way they like (i.e. with TailwindCSS). They can use it or not, it is up to them. The component can utilize the slots and props to give the user the customizability they need to adjust the component to match their needs. Some

[2022-08-18 09:22] Baroshem commented on #84
@Lexpeartha @fmarcheski

Yes, the update to the newest version of nuxt  and nuxt/ki is a planned feature. I want to release it next week preferably with #83 as a 1.2.0. I just need to test some things out to not cause breaking changes for your projects :)

[2022-08-19 08:23] podlebar commented on #84
i can confirm this bug.. the solution is to move the algolia config to `runtimeConfig.public` and remove it from the general config. If you don't have any public runtimeConfig it works fine as described in the docs.

Works:
[code]

Fails:
[code]

[2022-08-31 14:31] podlebar commented on #86
@Baroshem i now spend days tiring to implement it and i don't think that this is currently doable at all as the algolia routing module seems to be very buggy

[2022-09-04 22:28] marcusarnfast opened #90 "Module @nuxtjs/algolia is disabled due to incompatibility issues"
### Version

@nuxtjs/algolia: 1.1.1
nuxt: 3.0.0-r.c.9

### Reproduction Link

https://github.com/marcusarnfast/Incompatibility-issues-with-Algolia

### Steps to reproduce

Yarn add

### What is Expected?

Algolia module to work

### What is actually happening?

Module @nuxtjs/algolia is disabled due to incompatibility issues:
 - [nuxt] Nuxt version `^3.0.0 || ^2.16.0` is required but currently usi

[2022-09-05 10:11] Baroshem commented on #90
Hey @marcusarnfast

Thanks for reporting this issue. I am currently on holidays without access to the computer. I will work on this issue after I will be back (end of semptember).

In the meantime, you can edit the version in the node_modules/@nuxtjs/algolia/module.mjs (I think this is the right path) and change the compatibility. It is not perfect but should work.

[2022-09-05 11:53] marcusarnfast commented on #90
I tried to do the qucikfix in the node_module, but "addImportsDir" is depreciated and when I change to "importsDir" I get no result from the Algolia module.. :-)

[2022-09-05 14:16] agracia-foticos opened #91 "Fail on Nuxt 3 RC9"
### Version

@nuxtjs/algolia: 1.1.0
nuxt: 3.0.0-rc.9

### Reproduction Link

We have updated Nuxt to version 3 RC 9 and it has thrown us an error. Please update module to work with RC 9

[2022-09-05 14:16] agracia-foticos commented on #91
Fails the call to const { result, search } = useAlgoliaSearch('XXXXXX')

[2022-09-05 14:40] marcusarnfast commented on #90
Sorry this worked.. I just switched up the API_KEY and APP_ID

The quick fix for this issue is to add the "-rc" in node_modules\@nuxtjs\algolia\dist\module.mjs.

And then change autoImports:dirs to imports:dirs.

:-)

[2022-09-05 14:52] Baroshem commented on #91
Hey @agracia-foticos

I am currently on holidays without access to the computer so I wont be able to release a new version with a fix. I will do that later in september when I will be back.

Also, could you please paste the error here with more descriptive info?

[2022-09-05 14:55] Baroshem commented on #90
I am glad that it worked.

I will update the module accordingly to the changes in the recent version of nuxt 3.

[2022-09-05 22:28] Lexpeartha commented on #91
@Baroshem there was a breaking change introduced in nuxt rc 9, check out nuxt/framework#7116

[2022-09-06 03:04] ricky11 commented on #91
This the error from vite :
 WARN  Module FormKit is disabled due to incompatibility issues:

[2022-09-06 07:38] podlebar commented on #91
i deploy to Vercel and this is what i get:
```ERROR	[nuxt] [request error] [unhandled] [500] Directory import '/var/task/node_modules/vue-instantsearch/vue3/es' is not supported resolving ES modules imported from /var/task/chunks/app/server.mjs```

i assume it's because of this:
[code]

[2022-09-06 12:13] Baroshem commented on #91
Guys, thanks for explaining the issue. It seems that the nuxt core team released a breaking change in the nuxt kit. The fix should be relatively simple (replacing the hook) but I wont be able to release a fix version with it as I am currently on holidays. I will be back end of september and then I will release the new version to fix your issues.

[2022-09-08 18:17] monkemedia commented on #91
Does anyone have a quick fix for this in the meantime?

[2022-09-08 20:40] lukaszflorczak commented on #91
Here is my patch. You can use [patch-package](https://www.npmjs.com/package/patch-package) and add the code below to `patches/@nuxtjs+algolia+1.1.1.patch` file. It works for me.

[code]

[2022-09-08 21:05] monkemedia commented on #91
@lukaszflorczak Once I make these changes, do I do anything else? I just re-ran `npx nuxi dev` and am getting the following error: `Cannot destructure property 'applicationId' of '__vite_ssr_import_0__.useRuntimeConfig(...).algolia' as it is undefined.`

[2022-09-09 05:37] lukaszflorczak commented on #91
@monkemedia
1. Complete the `Set-up` section: https://github.com/ds300/patch-package#set-up. You have to add `postinstall` in your `package.json` and of course install `patch-package`.
2. Run again `npm/yarn/pnpm install` – the patch will be automatically applied after installation.

[2022-09-09 09:19] monkemedia commented on #91
@lukaszflorczak thank you for the instructions. I have never used patch package before. Seem to have done everything correctly and the patch has been installed, however, I am still getting the same error `Cannot destructure property 'applicationId'`

[2022-09-09 13:22] monkemedia commented on #91
Fixed it by following this https://github.com/nuxt-community/algolia-module/issues/84

[2022-09-21 09:11] #90 closed

[2022-09-21 09:23] Baroshem commented on #91
Guys, the new version has been released. You can verify now if it works correctly. I have tested it in several nuxt projects and it is working correctly :)

[2022-09-21 19:08] lukaszflorczak commented on #91
In my project, everything works fine. Thank you!

[2022-09-22 06:09] podlebar commented on #91
works with rc9 to rc11.
i upgraded my project step by step and i had no issues.

[2022-09-22 07:41] Baroshem commented on #83
After a long trying out session I decided not to implement this feature as it would require several slots/props to make it work dynamically and in the end it would require developers to write almost equal amount of code as when developing search bar from scratch.

[2022-09-22 07:41] #83 closed

[2022-09-22 07:41] Baroshem commented on #81
Done in 1.1.2

[2022-09-22 07:41] #81 closed

[2022-09-28 06:27] Baroshem commented on #91
Closing the issue then. Thanks for the input guys!

[2022-09-28 06:27] #91 closed

[2022-09-28 06:27] Baroshem opened #94 "Move to nuxt-modules"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-09-29 12:34] #94 closed

[2022-09-30 14:47] Lexpeartha commented on #84
Closing an issue since everything seems to work fine in newer nuxt release candidates 👍🏽

[2022-09-30 21:56] Baroshem commented on #86
Closing as there was no demand from other module users. If there will be a request for that, the issue can be reopen 🙂

[2022-09-30 21:56] #86 closed

[2022-10-01 08:14] cfab commented on #84
I still have the error on RC 11 after having destroyed node_modules and .nuxt...
[nuxt] [request error] [unhandled] [500] Cannot destructure property 'applicationId' of '__vite_ssr_import_0__.useRuntimeConfig(...).algolia' as it is undefined.

[2022-10-01 11:14] Baroshem commented on #84
@cfab

I would say then that this issue may be caused by the Nuxt itself rather than the module but I will investigate on my side. Have you tried modifying the module code in node_modules to see if it makes a difference?

[2022-10-03 03:54] cfab commented on #84
Well, I wouldn't dare...  ;-)
Not sure what to modify anyway !
But thanks.

[2022-10-03 15:57] Baroshem commented on #84
Folks,

The issue is caused when you have both algolia object and runtimeConfig.public both registered in nuxt.config.ts file.

I will release a fix today to fix this issue.

[2022-10-03 16:28] Baroshem commented on #84
Should be working now with 1.1.4 version

[2022-10-03 18:51] Lexpeartha commented on #84
I'm beyond curious about how you've figured that out 🤯

[2022-10-04 09:50] Baroshem commented on #84
Guys, I am closing the issue as it was tested already in a few Nuxf 3 apps with public runtime config. If this error occurs again, please reopen.

[2022-10-04 09:50] #84 closed

[2022-10-06 06:21] Baroshem opened #98 "Refactor Storyblok Indexer to Generic Indexer"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-10-18 19:34] #98 closed

[2022-10-18 19:34] #63 closed

[2022-10-18 19:35] #7 closed

[2022-10-18 19:35] Baroshem commented on #71
Closing as no plans for implementing it right now and can be implemented without the need of the module

[2022-10-18 19:35] #71 closed

[2022-10-24 14:19] Baroshem opened #101 "Change logo of Algolia"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2022-10-28 09:44] agracia-foticos opened #102 "Filters in query"
### Version

- Operating System: `Linux`
- Node Version:     `v18.11.0`
- Nuxt Version:     `3.0.0-rc.12`
- Nitro Version:    `0.6.0`
- Package Manager:  `npm@8.19.2`
- Builder:          `vite`
- User Config:      `srcDir`, `modules`, `compilerOptions`, `vue`, `vite`, `telemetry`, `algolia`, `head`, `auth`, `css`, `build`, `runtimeConfig`
- Runtime Modules:  `genesis-design-system/nuxt`, `@nuxtjs/

[2022-10-28 09:49] Baroshem commented on #102
Hey @agracia-foticos

To use filters, you should be using `requestOptions` -> https://github.com/nuxt-modules/algolia/blob/03438a1f36d74cbc8d6746d2fdcabffcdc9e3c49/src/runtime/composables/useAlgoliaSearch.ts#L27

So basically, instead of `search({ query: input_search.value, filters: 'domain_list:domain.es'})`

Go with `search({ query: input_search.value, requestOptions: { filters: 'domain_list:dom

[2022-10-28 10:04] agracia-foticos commented on #102
WORKS!!! Thankss!!!!

[2022-10-28 10:04] #102 closed

[2022-11-03 22:59] #101 closed

[2022-11-05 12:15] Agusnez opened #104 "`findObjects` function not available on `index` object."
Hello,

I was performing a basic demo with:

[code]

But the `algoliaIndex` object only has the `search` function available, not the `findObjects` operations that we are supposed to do on the Algolia documentation: https://www.algolia.com/doc/api-client/methods/search/

Is this an expected behaviour? Thanks!

[2022-11-05 12:55] Baroshem commented on #104
Hey @Agusnez

I am not sure about this method. Do you mean that the TS is not suggesting it in the autocomplete or that this method is not available at all?

Maybe you need to load full algoliasearch (not the default lite version) to make it work.

[2022-11-07 10:18] Agusnez commented on #104
Hi @Baroshem,

Thank you very much for your help. The thing that is not working is that the method is not available at all:
[code]

Let me look into the full algoliasearch, because it might be my case, since I'm using the `useInitIndex` moethod, not the `useAlgoliaInitIndex` like the example. (This is because I don't have it available in my installation)

I will post my updates.

[2022-11-08 18:56] Baroshem commented on #104
Hey @Agusnez

I think you have a typo in your method name (gindObject instead of findObjects).

Also, make sure to use useAlgoliaInitIndex at all times. The other method wont work.

[2022-11-09 09:05] Agusnez commented on #104
Hi @Baroshem, I have good news about this.

I was using the previous version of the module `@nuxt-modules/algolia`. Removing it from the `package.json` and running `npm i @nuxtjs/algolia` fixed the issue. Now I see the `useAlgoliaInitIndex` function available.

Thank you very much for your help!

[2022-11-09 09:05] #104 closed

[2022-11-09 09:15] Baroshem commented on #104
@Agusnez I am glad that you have figured it out!

If you will have any questions, please let me know :)

[2022-11-09 09:35] Baroshem opened #105 "Link articles and videos to the documentation"
### Is your feature request related to a problem? Please describe.

https://dev.to/jacobandrewsky/how-to-add-algolia-search-to-nuxt-3-3od3
https://dev.to/jacobandrewsky/adding-search-engine-with-algolia-48j3
https://www.youtube.com/watch?v=MQGIxPmgSCM
https://www.youtube.com/watch?v=GGyp0Rqsxb8

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional conte

[2022-11-16 14:45] agracia-foticos opened #108 "error when updating to RC 14"
### Version
------------------------------
- Operating System: `Linux`
- Node Version:     `v18.11.0`
- Nuxt Version:     `3.0.0-rc.14`
- Nitro Version:    `1.0.0`
- Package Manager:  `npm@8.19.2`
- Builder:          `vite`
- User Config:      `srcDir`, `modules`, `compilerOptions`, `vue`, `vite`, `schemaOrg`, `telemetry`, `algolia`, `head`, `auth`, `css`, `build`, `runtimeConfig`
- Runtime Module

[2022-11-16 15:27] Baroshem commented on #108
Hey, will be fixed by https://github.com/nuxt-modules/algolia/pull/107

Let's wait until friday to release a new version with the support for the stable Nuxt 3 as there might be more bugs there that needs to be solved :)

[2022-11-16 15:43] #108 closed

[2022-11-21 12:54] ennioVisco opened #109 "[docs] Broken website links"
The following links are broken in the docs:

- [Configuration > first link](https://algolia.nuxtjs.org/getting-started/configuration#:~:text=Check%20out%20more-,here,-.)
- [Usage > first link](https://algolia.nuxtjs.org/getting-started/usage#:~:text=composables%20that%20are-,auto%2Dimported,-by%20Nuxt%203)
- [Vue Instantsearch > first link](https://algolia.nuxtjs.org/advanced/vue-instantsearch#:~:

[2022-11-21 13:13] Baroshem commented on #109
Hey,

Thanks for crating an issue. It seems that both Nuxt 3 and Algolia have changed their structure of docs. I will fix it right after I will be back from holidays (next week)

[2022-11-23 20:48] lukaszflorczak opened #112 "Support for Request/Response Cashing"
It would be great to have support and possibility to turn on the Request/Response Caching from Algolia.

Official doc: https://www.algolia.com/doc/api-client/getting-started/customize/javascript/?client=javascript#caching-requests-and-responses
Reference to: https://github.com/nuxt-modules/algolia/discussions/111

[2022-11-23 22:05] Baroshem commented on #112
I will implement it as a part of next release.

Stay tuned!

[2022-11-25 07:41] #105 closed

[2022-11-25 07:41] #109 closed

[2022-11-25 07:41] #112 closed

[2022-11-25 10:44] lukaszflorczak commented on #112
Thank you!

[2022-11-25 19:21] vanling opened #114 "Left a little console.log here"
https://github.com/nuxt-modules/algolia/blob/4562d552fa7bc5f1c007d21b79de6511c4dbc9d5/src/runtime/plugin.ts#L14

PR: #115

[2022-11-28 08:17] Baroshem commented on #114
Thanks!

[2022-11-28 08:17] #114 closed